:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f2edeb;
  display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
}